@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Graphik LC TT';
    src: url('../fonts/GraphikLCG-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Graphik LC TT';
    src: url('../fonts/GraphikLCG-Semibold.ttf');
    font-weight: 600;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

/* COMMON START */
.btn {
    width: 120px;
    height: 45px;
    padding: 0;
    font-weight: 600;
    font-size: 16px;

    border: 1px solid rgba(0, 0, 0, 0.5);

    cursor: pointer;
}

.btn-white {
    color: #000000;
    background-color: #fff;
}

.btn-orange {
    background-color: #FF6336;
    color: #FFFFFF;
    border: 0;
}

.btn-black {
    width: 160px;
    height: 60px;
    background-color: #000000;
    font-size: 17px;
    color: #FFFFFF;
}

.mr-10 {
    margin-right: 10px;
}
/* COMMON END */

/* HEADER START */
.header {
    max-width: 1440px;
    margin: 0 auto;
    padding: 33px 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrap {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 130px;
    height: 28px;
    margin-right: 50px;
}

.header-nav {
    width: 590px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}

.header-buttons {
    display: flex;
    justify-content: flex-end;
}

.header-line {
    margin: 0;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 129px;
}
/* HEADER END */
/* MAIN START */
.main {
    display: flex;
    max-width: 1290px;
    margin: 0 auto;
    flex-direction: row-reverse;
    justify-content: center;
}

.main-title {
    width: 552px;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 51px;
}

.main-text {
    width: 471px;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 50px;
}

.main-buttons {
    margin-bottom: 25px;
}

.main-btn {
    width: 160px;
    height: 60px;
}

.main-subtext {
    line-height: 25px;
    color: #000000;
    margin-bottom: 172px;
}

.main-image {
    margin-top: 22px;
    max-width: 759px;
    width: 100%;
    height: 100%;
}
/* MAIN END */
/* PREFERRED START */
.prefer {
    padding: 108px 0 104px;
    background-color: #FF9C7D;
}

.prefer-title {
    margin: 0 auto;
    max-width: 720px;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #000000;
    margin-bottom: 70px;
}

.prefer-list {
    display: flex;
    margin: 0 auto;
    max-width: 1290px;
    justify-content: space-around;
}
/* PREFERRED END */
/* FEATURE START */
.feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 90px 40px 150px;
    max-width: 1290px;
    margin: 0 auto;
}

.reverse {
    flex-direction: row-reverse;
}

.feature-block {
    display: flex;
    justify-content: space-between;
    width: 1290px;
    margin-bottom: 250px;
}

.feature-item {
    width: 450px;
    margin-top: 151px;
}

.feature-title {
    width: 493px;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    margin-bottom: 30px;
}

.feature-text {
    width: 491px;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 30px;
}

.feature-text-link {
    color: #000000;
}

.feature-link {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
}

.feature-image {
    width: 632px;
}
/* FEATURE END */
/* TIPS START */
.tips {
    background-color: #FFF8E4;
    padding: 120px 0 91px;
}

.tips-title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #000000;
    margin-bottom: 79px;
}

.tips-items {
    max-width: 1290px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; 
    justify-content: space-between;
}

.tips-card {
    width: 330px;
    height: 294px;
    padding-top: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 54px;
}

.tips-image {
    margin-bottom: 21px;
}

.tips-name {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 20px;
}

.tips-text {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

.tips-text > a {
    color: #000000;
}
/* TIPS END */
/* BOOST START */
.boost {
    padding: 154px 0 187px;
    
}

.boost-title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    text-align: center;
    margin-bottom: 75px;
}


.boost-cards-images {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1290px;
    margin-bottom: 49px;
}

.boost-image {
    width: 33%;
    margin-right: 261px;

    max-width: 179px;
}

.boost-cards {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1290px;
}

.boost-card + .boost-card {
    margin-left: 31px;
}

.boost-name {
    font-weight: 600;
    font-size: 30px;
    color: #000000;
    margin-bottom: 33px;
}

.boost-descr {
    width: 409px;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 25px;
}

.boost-descr-link {
    color: #000000;
}

.boost-link {
    font-size: 20px;
    text-decoration-line: underline;
    color: #000000;
}
/* BOOST END */
/* QUOTE START */
.quote {
    padding: 53px 30px 104px;
    background-color: #C9E8F2;
}

.quote-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1290px;
}

.quote-block {
    padding-top: 10px;
}

.quote-text {
    max-width: 895px;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 23px;
}

.quote-author {
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 10px;
}

.quote-image {
    width: 310px;
    height: 310px;
}
/* QUOTE END */
/* PROMO START */
.promo {
    background-color: #DABC98;
    padding: 80px 0 85px;
}

.promo-wrap {
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.promo-descr {
    display: flex;
    border-right: 1px solid #000000;
}

.promo-img {
    padding-top: 10px;
    margin-right: 67px;
}

.promo-text {
    padding-top: 37px;
    width: 461px;
    margin-right: 124px;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    color: #000000;
}

.promo-info {
    display: flex;
    margin-left: 71px;
}

.promo-producer + .promo-producer {
    margin-left: 70px;
}

.producer-img {
    margin-bottom: 20px;
}

.producer-rate {
    margin-bottom: 15px;
}

.producer-text {
    line-height: 25px;
    letter-spacing: 0.75px;
    color: #000000;
}
/* PROMO END */
/* INTEGRATION START */
.integration {
    padding: 165px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.integration-title {
    max-width: 791px;
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #000000;
}

.integration-text {
    max-width: 539px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
}

.integration-logo {
    margin-bottom: 32px;
}

.integration-btn {
    width: 193px;
    height: 60px;
}
/* INTEGRATION END */
/* LOCALIZATION START */
.localization {
    padding: 119px 0 161px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FF9C7D;
}

.localization-title {
    max-width: 784px;
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

.localization-text {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 55px;
}
/* LOCALIZATION END */
/* FOOTER START */
.footer {
    padding: 92px 0 43px;
    background-color: #EEEEEE;
}

.cases {
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid #000000;
}

.cases-block {
    width: 300px;
    margin-right: 140px;
}

.case-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 28px;
}

.case-img {
    margin-bottom: 31px;
}

.case-logo {
    margin-bottom: 10px;
}

.case-text {
    width: 290px;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 15px;
}

.case-link {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: #000000;
    margin-bottom: 95px;
}

.cases-navigation {
    padding-top: 5px;
    width: 850px;
    display: flex;
    justify-content: space-between;
}

.cases-items {
    list-style: none;
}

.cases-item:first-child .cases-link {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
}

.cases-link {
    display: block;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
    text-decoration: none;
    color: #000000;
    margin-bottom: 15px;
}

.copyright {
    padding-top: 52px;
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright-descr {
    display: flex;
}

.copyright-logo {
    margin-right: 14px;
}

.copyright-text {
    width: 301px;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.copyright-info {
    margin-right: 75px;
}

.copyright-info-text {
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
/* FOOTER END */


@media screen and (max-width: 1440px) {
    .header-wrap {
        max-width: 770px;
    }

    .header-nav {
        width: 450px;
    }

    .main {
        display: flex;
        max-width: 1290px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }
    
    .main-image {
        margin-bottom: 30px;
    }

    .main-block {
        text-align: center;
    }

    .main-title {
        width: 1024px;
    }

    .main-text {
        width: 1024px;
    }

    .feature-block {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .feature-item {
        width: 900px;
        margin-top: 50px;
        text-align: center;
    }

    .feature-link {
        display: block;
        margin-bottom: 50px;
    }

    .feature-title {
        width: inherit;
    }

    .feature-text {
        width: inherit;
    }

    .tips-items {
        flex-direction: column;
        align-items: center;
        height: 1044px;
    }


    .boost-wrap {
        display: flex;
        padding: 0 20px;
    }

    .boost-cards-images {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }

    .boost-image {
        margin-right: 0;
        max-width: none;
    }

    .boost-cards {
        flex-direction: column;
        align-items: center;
    }

    .boost-descr {
        width: 90%;
    }
    .boost-card + .boost-card {
        margin-left: 0px;
        margin-top: 30px;
    }

    .promo {
        padding-left: 20px;
        padding-right: 20px;
    }

    .promo-wrap {
        flex-wrap: wrap;
        justify-content: center;
    } 

    .promo-descr {
        border: 0;
        margin-bottom: 20px;
    }

    .promo-text {
        margin-right: 0;
    }

    .cases {
        padding: 0 30px;
    }

    .cases-navigation {
        flex-wrap: wrap;
    }

    .cases-items {
        width: 50%;
    }

    .copyright {
        padding: 52px 30px 0px;
    }
}


@media screen and (max-width: 1024px) {
    .header {
        flex-direction: column;
    }

    .header-wrap {
        margin-bottom: 20px;
        flex-direction: column;
    }

    .header-logo {
        margin: 0;
        margin-bottom: 20px;
    }

    .main-image {
        width: 80%;
    }

    .main-title, .main-text {
        width: 700px;
    }

    .prefer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .prefer-list {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .prefer-item {
        width: 30%;
        text-align: center;
        margin-bottom: 40px;
    }

    .feature-item {
        width: 700px;
    }

    .boost-cards {
        width: 740px;
    }

    .quote-text {
        font-size: 20px;
        line-height: 30px;
    }

    .quote-image {
        width: 250px;
        height: 250px;
    }

    .integration {
        padding-left: 20px;
        padding-right: 20px;
    }

    .integration-logo {
        width: 95%;
    }

    .localization {
        padding-left: 20px;
        padding-right: 20px;
    }

    .cases-block {
        margin-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 20px 0;
    }

    .header-nav {
        width: 300px;
    }

    .header-line {
        margin-bottom: 20px;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin-bottom: 10px;
    }

    .main-title {
        margin: 0 auto;
        width: 300px;
        font-size: 23px;
        line-height: 31px;
        margin-bottom: 20px;
    }

    .main-text {
        margin: 0 auto;
        width: 300px;
        line-height: 24px;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .main-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-bottom: 20px;
    }
    
    .mr-10 {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .main-subtext {
        padding: 0 10px;
        text-align: center;
        margin-bottom: 30px;
    }

    .prefer {
        padding: 40px 0;
    }

    .prefer-title {
        font-size: 30px;
        line-height: 34px;
    }

    .prefer-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .prefer-item {
        width: 100%;
        margin-bottom: 30px;
    }

    .feature {
        padding: 20px 0;
    }

    .feature-block {
        margin-bottom: 0;
    }

    .feature-image {
        width: 40%;
    }

    .feature-item {
        width: 320px;
    }

    .feature-title {
        width: 90%;
        margin: 0 auto;
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .feature-text {
        width: 90%;
        margin: 0 auto;
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 20px;
    }

    .tips {
        padding: 40px 0;
    }

    .tips-title {
        font-size: 30px;
        line-height: 34px;
    }

    .tips-items {
        height: auto;
    }

    .tips-card {
        width: 280px;
    }

    .boost {
        padding: 30px 0;
    }

    .boost-title {
        font-size: 30px;
        line-height: 34px;
    }

    .boost-cards-images {
        display: none;
    }

    .boost-descr {
        font-size: 17px;
        line-height: 24px;
    }

    .quote {
        padding: 20px;
    }

    .quote-wrap {
        flex-direction: column-reverse;
    }

    .quote-image {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .promo {
        padding: 30px 0;
    }

    .promo-descr {
        flex-direction: column;
        align-items: center;
    }

    .promo-img {
        margin-right: 0;
    }

    .promo-text {
        width: 280px;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
    }

    .promo-info {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .promo-producer + .promo-producer {
        margin-left: 0px;
        margin-top: 10px;
    }

    .producer-img {
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .producer-rate {
        text-align: center;
    }

    .producer-text {
        text-align: center;
    }

    .integration {
        padding: 30px 0;
    }

    .integration-title {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    .localization {
        padding: 40px 15px;
    }

    .localization-title {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    .localization-text {
        margin-bottom: 20px;
    }

    .footer {
        padding: 30px 0;
    }

    .cases {
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .cases-block {
        margin: 0 auto;
    }

    .case-title {
        font-size: 32px;
        line-height: 36px;
        text-align: center;
    }

    .case-logo {
        display: block;
        margin: 0 auto;
    }

    .case-text {
        font-size: 19px;
        line-height: 25px;
        margin-bottom: 0;
        text-align: center;
    }

    .case-link {
        margin-bottom: 30px;
        text-align: center;
    }

    .cases-navigation {
        width: 100%;
    }

    .cases-items {
        width: 100%;
        text-align: center;
    }

    .copyright {
        flex-direction: column;
    }

    .copyright-descr {
        flex-direction: column;
        align-items: center;
    }

    .copyright-logo {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .copyright-text {
        text-align: center;
        margin-bottom: 20px;
    }

    .copyright-info {
        margin-right: 0;
    }

    .copyright-info-text {
        text-align: center;
    }
}